.containerLoginSignup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    background: #F9FFF1;
    padding-bottom: 30px;
}

.headerLoginsignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #7D9A3E;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #E2F6B6;
    border-radius: 9px;
}

.inputs {
    margin: 40px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin:auto;
    width: 480px;
    height: 80px;
    background: #E2F6B6;
    border-radius: 6px;
}
@media only screen and (max-width: 769px) {
    .input {
        width: 100%;
    }
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgotPassword {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgotPassword span {
    color: #d87151;
    cursor: pointer;
}

.submitContainer {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
@media only screen and (max-width: 769px) {
    .submitContainer {
        flex-direction: column;
    }
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #F9FFF1;
    background: #7D9A3E;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #E2F6B6;
    color: #7D9A3E;
}