*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.blogsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.blogsHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blogsHeading span{
    color: #d87151;
    font-weight: 800;
}
.blogsHeading h3{
    font-size: 48px;
    color: #797979;
    font-weight: 800;
}

.blogCards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}