*{
    margin: 0px;
    padding: 0px;
   box-sizing: border-box;

}
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.blogHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blogHeading span{
    color: #d87151;
    font-weight: 800;
}
.blogHeading h3{
    font-size: 48px;
    color: #797979;
    font-weight: 800;
}
.blogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blogBox {
    width: 350px;
    background-color: #F9FFF1;
    border: 1px solid #E2F6B6;
    margin: 20px;
}
.blogImg {
    width: 100%;
    height: 300px;
}
.blogImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blogText {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blogText span{
    color: #d87151;
    font-size: 16px;
}
.blogTitle {
    font-size: 20px;
    font-weight: 500;
    color: #797979;
}
.blogTitle:hover{
    color: #d87151;
    transition: all ease 0.5s;
}

.blogArticle {
    color: #797979;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.readMore {
    color: #797979;
}
.readMore:hover {
    color: #d87151;
    transition: all ease 0.5s;
}
