.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cropCards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.searchbarSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    border-radius: 60px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.2);
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 10px;
    font-size: 20px;
}

::placeholder {
    color: black;
}

.searchBar button img {
    width: 25px;
}
.searchBar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}